extends layout

block content
	h3= title
	form#form_add_employee(name="addemployee", method="post", action="/addemployee")
		span First Name
		span &nbsp;
		input#input_fname(type="text", placeholder="First Name", name="fname")
		br
		br
		span Last Name
		span &nbsp
		input#input_lname(type="text", placeholder="Last Name", name="lname")
		br
		br
		span Work Email
		span &nbsp
		input#input_email(type="text", placeholder="email", name="email")
		br
		br
		span Phone
		span &nbsp
		input#input_Phone(type="text", placeholder="phone", name="phone")
		br
		br
		button#submit_student(type="submit") submit